In [1]:
from evolutionary_outliers_search import EvolutionaryOutliersSearch
import numpy as np
import pandas as pd
%load_ext autoreload
%autoreload 2

In [55]:
df = pd.read_csv("arrhythmia.data", header=None, index_col=False, na_values=['?'])
df.dropna(axis='columns', inplace=True)
df, target = df.iloc[:, :-1], df.iloc[:, -1] # drop target column
records_number, features_number = df.shape
df.head()

,0,1,2,3,4,5,6,7,8,9,...,269,270,271,272,273,274,275,276,277,278
0,75,0,190,80,91,193,371,174,121,-16,...,-0.3,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4
1,56,1,165,64,81,174,401,149,39,25,...,-0.5,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8
2,54,0,172,95,138,163,386,185,102,96,...,0.9,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0
3,55,0,175,94,100,202,380,179,143,28,...,0.1,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6
4,75,0,190,80,88,181,360,177,103,-16,...,-0.4,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8

In [97]:
s = -3 # significance level for sparsity test for p-value 99.9%
f = 10 # number of intervals for each dimension
k = np.floor(np.log(1 + records_number / s ** 2) / np.log(f)) # dimensionality

In [126]:
ev_search = EvolutionaryOutliersSearch(results_number=50, dimensionality=k, p=50, p1=0.02, p2=0.02, f=f)
outliers_indexes, coef = ev_search(df.values)
coef

4080

array([-0.03135736, -0.03135736, -0.03135736, -0.03135736, -0.03135736,
       -0.03135736, -0.03135736, -0.03135736, -0.03135736, -0.03135736,
       -0.03135736, -0.03135736, -0.03135736, -0.03135736, -0.03135736,
       -0.03135736, -0.03135736, -0.03135736, -0.03135736, -0.03135736,
       -0.03135736, -0.03135736, -0.03135736, -0.03135736, -0.03135736,
       -0.03135736, -0.03135736, -0.03135736, -0.03135736, -0.03135736,
       -0.03135736, -0.03135736, -0.03135736, -0.03135736, -0.03135736,
       -0.03135736, -0.03135736, -0.03135736, -0.03135736, -0.03135736,
       -0.03135736, -0.03135736, -0.03135736, -0.03135736, -0.03135736,
       -0.03135736, -0.03135736, -0.03135736, -0.03135736, -0.03135736])

In [123]:
target.iloc[outliers_indexes].value_counts()

1     31
10     6
6      5
2      5
16     2
4      1
Name: 279, dtype: int64